services:

  php:
    build: './php/'
    restart: unless-stopped
    volumes:
      - ./public:/var/www/html/
    
  environment:
      SERVER_NAME: "{{ inventory_hostname }}"
      SERVER_IP: "{{ ansible_host }}"

  apache:
    build: './apache/'
    restart: unless-stopped
    depends_on:
      - php
    ports:
      - "{{ web_port }}:80"
    volumes:
      - ./public:/var/www/html/
