services:

  php:
    build: './php/'
    volumes:
      - ./public:/var/www/html/

  apache:
    build: './apache/'
    depends_on:
      - php
    ports:
      - "{{web_port}}:80"
    volumes:
      - ./public:/var/www/html/


